In [3]:
a = (1, 'pom')
a[0]

1

In [4]:
a[1]

'pom'

In [5]:
ï½‚= ((1, 2, 3), ('a', 'b', 'c'), (True, True, False))
b[1]

('a', 'b', 'c')

In [6]:
b[2][2]

False

In [7]:
for data in b:
    print(data)

(1, 2, 3)
('a', 'b', 'c')
(True, True, False)

In [8]:
for x, y, z in b:
    print(f'x:{x}, y:{y}, z:{z}')

x:1, y:2, z:3
x:a, y:b, z:c
x:True, y:True, z:False

In [9]:
def test_tuple(param):
    return param[0] + 1, param[1] + 'added'
c, d = test_tuple((3, 'qom'))
d

'qomadded'

In [11]:
import numpy as np
import cv2
img = cv2.imread('sample.jpg')
img

array([[[ 53,  73, 108],
        [ 53,  72, 109],
        [ 53,  68, 107],
        ...,
        [ 44,  42,  54],
        [ 50,  47,  62],
        [ 57,  54,  69]],

       [[ 55,  75, 110],
        [ 55,  73, 110],
        [ 53,  68, 107],
        ...,
        [ 42,  40,  52],
        [ 45,  42,  57],
        [ 51,  48,  63]],

       [[ 55,  74, 109],
        [ 55,  73, 110],
        [ 53,  68, 107],
        ...,
        [ 39,  39,  53],
        [ 42,  42,  56],
        [ 47,  47,  61]],

       ...,

       [[ 54,  74, 131],
        [ 52,  73, 128],
        [ 56,  78, 130],
        ...,
        [ 61,  76, 122],
        [ 60,  75, 121],
        [ 66,  81, 127]],

       [[ 52,  72, 130],
        [ 50,  70, 127],
        [ 55,  76, 131],
        ...,
        [ 64,  78, 126],
        [ 60,  74, 122],
        [ 63,  79, 126]],

       [[ 51,  72, 133],
        [ 51,  73, 131],
        [ 51,  71, 126],
        ...,
        [ 73,  87, 139],
        [ 66,  80, 133],
        [ 69,  85, 138]]], dtype=uint8)

In [12]:
print(np.average(img))

95.33617407407408

In [13]:
print(np.sum(img))

25740767

In [21]:
def testtup(a) :
    b = np.sum(a)
    c = np.average(a)
    return b,c
testtup((614153,1253125,22153))

(1889431, 629810.3333333334)